
#root {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  text-align: left;
}

body {
  background-color: #f9fafc;
}

.bg-tasks {
  background-color: #3b82f6;
}

.bg-tasks\/90 {
  background-color: #3b82f6e6;
}

.bg-goals {
  background-color: #8b5cf6;
}

.bg-goals\/90 {
  background-color: #8b5cf6e6;
}

.bg-habits {
  background-color: #10b981;
}

.bg-habits\/90 {
  background-color: #10b981e6;
}

.text-tasks {
  color: #3b82f6;
}

.text-goals {
  color: #8b5cf6;
}

.text-habits {
  color: #10b981;
}

.hover\:text-tasks:hover {
  color: #3b82f6;
}

.hover\:text-goals:hover {
  color: #8b5cf6;
}

.hover\:text-habits:hover {
  color: #10b981;
}
